apiVersion: tekton.dev/v1alpha1
kind: Task
metadata:
  name: buildah-build-push
spec:
  inputs:
    params:
    - name: BUILDER_IMAGE
      description: The location of the buildah builder image.
      default: quay.io/openshift-pipeline/buildah
    - name: DOCKERFILE
      description: Path to the Dockerfile to build.
      default: /workspace/git-source/Dockerfile
    - name: TLSVERIFY
      description: Verify the TLS on the registry endpoint (for push/pull to a non-TLS registry)
      default: "true"

    resources:
    - name: git-source
      type: git

  outputs:
    resources:
    - name: builtImage
      type: image
      
  steps:
  - name: build
    workingdir: /workspace/git-source
    image: ${inputs.params.BUILDER_IMAGE}
    command: ['buildah', 'bud', '--tls-verify=${inputs.params.TLSVERIFY}', '--layers', '-f', '${inputs.params.DOCKERFILE}', '-t', '${outputs.resources.builtImage.url}', '.']
    volumeMounts:
    - name: varlibcontainers
      mountPath: /var/lib/containers

  - name: push
    workingdir: /workspace/git-source
    image: ${inputs.params.BUILDER_IMAGE}
    command: ['buildah', 'push', '--tls-verify=${inputs.params.TLSVERIFY}', '${outputs.resources.builtImage.url}', 'docker://${outputs.resources.builtImage.url}']
    volumeMounts:
    - name: varlibcontainers
      mountPath: /var/lib/containers

  volumes:
  - name: varlibcontainers
    emptyDir: {}
