apiVersion: tekton.dev/v1alpha1
kind: Task
metadata:
  name: kaniko-build-push
spec:
  inputs:
    resources:
    - name: git-source
      type: git
    params:
    - name: pathToDockerFile
      description: The path to the dockerfile to build
      default: /workspace/git-source/Dockerfile
    - name: pathToContext
      description: The build context used by Kaniko (https://github.com/GoogleContainerTools/kaniko#kaniko-build-contexts)
      default: /workspace/git-source
  outputs:
    resources:
    - name: builtImage
      type: image
  securityContext:
    runAsUser: 0
  steps:
  - name: build-and-push
    env:
    - name: "DOCKER_CONFIG"
      value: "/builder/home/.docker"
    image: gcr.io/kaniko-project/executor:latest
    args:
    - --dockerfile=${inputs.params.pathToDockerFile}
    - --destination=${outputs.resources.builtImage.url}
    - --context=${inputs.params.pathToContext}
